<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<form th:action="@{/recipes/add}" th:object="${recipe}" method="post" class="p-5 d-flex justify-content-center align-items-center flex-column h-100 container m-auto">
  <h1 class="text-center">Dodaj nazwe dla swojego przepisu</h1>
  <div class="input-group mb-3 mt-5">
    <input type="text" class="form-control" th:field="*{name}" placeholder="Nazwa przepisu" autofocus="autofocus" required>
  </div>
  <div class="input-group mb-3">
    <input type="hidden" class="form-control" th:value="1" name="ownerId" id="ownerId"  placeholder="OwnerId" autofocus="autofocus">
  </div>
  <div class="d-flex justify-content-between w-100">
    <a href="/recipes" type="submit" class="btn btn-block btn-dark text-center" >Strona główna</a>
    <button type="submit" class="btn btn-block btn-dark text-center">Przejdź do następnego kroku</button>
  </div>
</form>
</body>
</html>